/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  margin: 0;
  width: 100%;
}

.bannerContainer {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.bannerImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Responsive banner - no padding on any screen size */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0;
  }

  .bannerContainer {
    padding: 0;
  }

  .bannerImage {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 0;
  }

  .bannerContainer {
    padding: 0;
  }

  .bannerImage {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .heroBanner {
    padding: 0;
  }

  .bannerContainer {
    padding: 0;
  }

  .bannerImage {
    width: 100%;
  }
}
